.navfooter{
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tamañoimgfooter{
    width: 50px;
    height: 50px;
}
.button-compra{
    width: 50px;
    height: 50px;
}
.imgbutton-compra{
    width: 50px;
    height: 50px; 

}
.contenedor1{
    width: 33.3%;
}
.contenedor2{
    width: 33.3%;
}
.contenedor3{
    width: 33.3%;
    align-content: flex-end;
}

/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* ---------------CARRITO ---------------- -->*/

.navfootercarrito{
    box-sizing: border-box;
    width: 100%;
    background-color: #FF6B00;
    border-radius: 50px;
    padding: 5%;
}

.factura{
    display: flex;
    flex-direction: column;
}

.concepto-factura{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.p-basico-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 30px;
    font-style:normal;
    color: white;
}

.p-negrita-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 32px;
    font-style: semi-bold;
    color: white;

}