@import url(./css-content/footer-style.css);
@import url(./css-content/header-style.css);
@import url(./css-content/nav-style.css);
@import url(./css-content/main-style.css);

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap'); 

html {
    width: 100%;
}


body{
    background-color: rgb(228, 217, 158);
}
.container{
    background-color: white;
    max-width: 720px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

::-webkit-scrollbar { 
    display: none; 
}