.navfooter{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-block-end: 5%;
}
.tamañoimgfooter{
    width: 50px;
    height: 50px;
}
.button-compra{
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 13%;
    top: -60px;
}
.imgbutton-compra{
    width: 80px;
    height: 80px; 

}

/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* ---------------CARRITO ---------------- -->*/

.navfootercarrito{
    box-sizing: border-box;
    width: 100%;
    background-color: #FF6B00;
    border-radius: 50px;
    padding: 5%;
}

.factura{
    display: flex;
    flex-direction: column;
}

.concepto-factura{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.p-basico-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 30px;
    font-style:normal;
    color: white;
}

.p-negrita-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 32px;
    font-style: semi-bold;
    color: white;

}