.containerFooter{
    z-index: 10;
    background-color: rgba(0, 128, 0, 0);
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
}
.navfooter{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 720px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    z-index: 10;
    box-shadow: 0px -2px 50px 30px white;

    
}
.tamañoimgfooter{
    width: 25px;
}
.button-compra{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    top: -40px;
    background-color: rgba(255, 255, 255, 0);
}
.imgbutton-compra{
    width: 70px;
    height: 70px; 
    filter: drop-shadow(10px 10px 5px rgba(182, 179, 179, 0.678));
}
@media (min-width:450px) {
    .button-compra{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 12%;
        padding-bottom: 7%;
        top: -40px;
        background-color: #FF6B00;
        border-radius: 100%;
        filter: drop-shadow(10px 10px 5px rgba(182, 179, 179, 0.678));
    }
    .imgbutton-compra{
        position: relative;
        top: 65%;
        width: 50%; 
    
}
}
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* ---------------CARRITO ---------------- -->*/

/*.carrito-compra{
    display: none;
}*/

.navfootercarrito{
    width: 100%;
    box-sizing: content-box;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 100%;
    position: fixed;
    left:0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
}


.factura{
    width: 100%;
    max-width: 720px;
    max-height: 550px;
    background-color: #FF6B00;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 5px;
    bottom: 0;

}

.concepto-factura{
    position: relative;
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.p-basico-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: calc(0.5em + 1vw);
    font-style:normal;
    color: white;
    margin-top: 1%;
}

.p-negrita-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: calc(0.6em + 1vw);
    font-weight: 600;
    color: white;
    position: relative;
}

.contenedor-boton-enviar{
    display: flex;
    justify-content: space-around;
    height: fit-content;
    box-sizing: content-box;
    position: relative;
}

.enviar-pedido{
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;  
    position: relative;  
    align-items: center;
    padding: 15px;
}

.texto-enviar{
    font-family: 'Public Sans', sans-serif ;
    font-size: calc(1.5em + 1vw);
    font-weight: 600;
    margin: 0;
    position: relative;
}