.containerFooter{
    z-index: 10;
    background-color: green;
    width: 100%;
    max-width: 720px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
}
.navfooter{
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 255, 255);
    width: 100%;
    z-index: 10;
    
    
}
.tamañoimgfooter{
    width: 50px;
    height: 50px;
}
.button-compra{
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    width: 13%;
    top: -60px;
    background-color: rgba(255, 255, 255, 0);
}
.imgbutton-compra{
    width: 80px;
    height: 80px; 
    filter: drop-shadow(10px 10px 5px rgb(182, 179, 179));
}

/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* ---------------CARRITO ---------------- -->*/

.navfootercarrito{
    box-sizing: border-box;
    width: 100%;
    background-color: #FF6B00;
    border-radius: 50px;
    padding: 5%;
}

.factura{
    display: flex;
    flex-direction: column;
}

.concepto-factura{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.p-basico-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 30px;
    font-style:normal;
    color: white;
}

.p-negrita-factura{
    font-family: 'Public Sans', sans-serif;
    font-size: 34px;
    font-weight: 600;
    color: white;

}