main {
    position: relative;
    box-sizing: border-box;
    background-color: rgba(202, 202, 202, 0);
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
}

.platos {
    margin-bottom: 30px;
    width: 100%;
    overflow-y: scroll;
    margin-bottom: 110px;

}

.plato-individual{
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
}

.nombre-plato {
    font-family: 'Public Sans', sans-serif ;
    font-style: bold;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.precio-plato{
    font-family: 'Public Sans', sans-serif ;
    font-style: bold;
    font-size: 30px;
    color:rgba(233, 128, 63, 1);
    margin-top: 10px;
    width: 80px;
    position: relative;
    top: -30px;
}

.descripcion-plato{
    font-family: 'Public Sans', sans-serif ;
    font-style: normal;
    font-size: 37pt;
    color: #A9A8AE;
    margin-top: -20px;
    position: relative;
    top: -30px;
}

.plato-comida {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    margin-right: 3%;
}

.nombreYcontador {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}

.contador {
    display: flex;
    flex-direction: column-reverse;
}

.plus{
    border: none;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.menos, .mas {
    border: none;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menos{
    position: relative;
    top: -10px;
}
 .signo-{
     position: relative;
     top: -3px;
 }

 .numeroContador{
     margin-left: 15px;
     margin-right: 15px;
     position: relative;
     top: -7px;
 }

/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------- CARRITO --------------- -->*/

.cart-title{
    font-family: 'Public Sans', sans-serif ;
    font-size: 45px;
    font-weight: 700;
    
}