.categorias {
        
        top: 0px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: scroll;
        width: 100%;
        height: 190px;
        filter: drop-shadow(10px 10px 30px white);
        
}


.categorias-slider {
        filter: drop-shadow(5px 5px 10px rgba(203, 203, 203, 0.603));
        flex: 0 0 auto;
        width: 20%;
        height: 180px;
        margin-left: 10px; 
        position: relative;
        top: -1px;
}
.button-slider {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        background-color: white ;
        border: 1px  white;
        width: 85%;
        height: 160px;
        border-radius: 15px;
        padding: 7px; 
        box-sizing: content-box; 
        justify-content: space-between;
        
}


.categorias-slider :hover {
        background-color: rgb(247, 245, 245);
        
}

.imgcat {
        margin-top: 5px;
        box-sizing: border-box;
        width: 80%;
        height: 60%;
       
}

.SeccionesNav {
        color: black;
        font-size: 18px; 
        font-family: 'Public Sans', sans-serif ;  
}

.SeccionesNav2 {
        color: black;
        font-size: 18px; 
        font-family: 'Public Sans', sans-serif ;  
}
.SeccionesNav3 {
        color: black;
        font-size: 18px;
        font-family: 'Public Sans', sans-serif ; 
}

@media  (max-width: 480px) { 
        
        .categorias{
                width: 100%;
                height: 150px; 
                margin-bottom: 1%; 
        }

        .categorias-slider {
                filter: drop-shadow(5px 5px 10px rgb(203, 203, 203));
                flex: 0 0 auto;
                width: 20%;
                height: 100px; 
        }
        .SeccionesNav {
                color: black;
                font-size: 12px; 
                margin-top: 20px;
                font-family: 'Public Sans', sans-serif ;
        }
        .SeccionesNav2 {
                color: black;
                font-size: 12px; 
                margin-top: 20px;
                font-family: 'Public Sans', sans-serif ;
                
        }
        .SeccionesNav3 {
                color: black;
                font-size: 12px; 
                margin-top: 20px;
                font-family: 'Public Sans', sans-serif ;
        }

        
        .button-slider {
                display: flex;
                align-items: center;
                flex-direction: column;
                color: white;
                background-color: white ;
                border: 1px  white;
                width: 90%;
                height: 100px;
                border-radius: 15px;
                padding: 3px; 
                box-sizing: content-box; 
                justify-content: space-between;
                
        }
}
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* --------------------------------------- -->*/
/* ---------------CARRITO ---------------- -->*/